@import-normalize;

:root {
  --background-color: #f8f8f7;
  --text-dark: #1d1d1d;
  --text-light: #8c8c8c;
  --primary: #ff868e;
  --primary-light: #fbe0dc;
  --white: #fff;
  --green: #97eab9;
  --green-light: #e0f9ea;
  --orange: #ffd280;
  --orange-light: #fff1d9;
}

body {
  font-family: "Jost", sans-serif;
  line-height: normal;
  font-weight: 400;
  color: var(--text-light);
  fill: currentColor;

  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}
