@import-normalize;

:root {
  --background-color: #f8f8f7;
  --text-dark: #1d1d1d;
  --text-light: #8c8c8c;
  --primary: #ff868e;
  --primary-light: #fbe0dc;
  --white: #fff;
  --green: #97eab9;
  --green-light: #e0f9ea;
  --orange: #ffd280;
  --orange-light: #fff1d9;
  --overlay-hover: rgba(255, 134, 142, 0.6);
  --swiper-theme-color: var(--primary);
  --swiper-pagination-bullet-inactive-color: var(--primary-light);
  --light-background: #fff;
  --lighter-background: #f8f8f7;
  --switch: #fbe0dc;
  --hero: #fbe0dc;
  --text-dark-white: #1d1d1d;
  --background-light-dark: #fff;
  --buttons-border: #fff;
  --modal-bg: #fff;
  --input-hover: #fbe0dc;
}

body.dark-theme {
  --background-color: #1d1d1d;
  --text-dark: #fff;
  --light-background: rgba(255, 255, 255, 0.1);
  --lighter-background: rgba(255, 255, 255, 0.05);
  --switch: rgba(255, 134, 142, 0.2);
  --hero: rgba(255, 255, 255, 0.1);
  --text-dark-white: #fff;
  --background-light-dark: #1d1d1d;
  --buttons-border: #343434;
  --input-hover: rgba(251, 224, 220, 0.5);
  --modal-bg: #282828;
}

body {
  font-family: "Jost", sans-serif;
  line-height: normal;
  font-weight: 400;
  color: var(--text-light);
  fill: currentColor;
  background-color: var(--background-color);

  margin: 0;
  box-sizing: border-box;
}

.no-overflow {
  overflow: hidden;
}

.hidden-overflow {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.swiper-custom-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
  position: absolute;
  width: 100px;
  height: 30px;
  bottom: -24px;
  left: 94px;
  text-align: center;
  background-color: var(--buttons-border);
  border-radius: 30px;
  padding: 5px;
  z-index: 2;
  overflow: visible;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    left: 310px;
  }
}

.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  margin-left: 4px;
  margin-right: 4px;
  opacity: 1;
}
