@import-normalize;

:root {
  --background-color: #f8f8f7;
  --text-dark: #1d1d1d;
  --text-light: #8c8c8c;
  --primary: #ff868e;
  --primary-light: #fbe0dc;
  --white: #fff;
  --green: #97eab9;
  --green-light: #e0f9ea;
  --orange: #ffd280;
  --orange-light: #fff1d9;
  --overlay-hover: rgba(255, 134, 142, 0.6);
  --swiper-theme-color: var(--primary);
  --swiper-pagination-bullet-inactive-color: var(--primary-light);
}

body {
  font-family: "Jost", sans-serif;
  line-height: normal;
  font-weight: 400;
  color: var(--text-light);
  fill: currentColor;
  background-color: var(--background-color);

  margin: 0;
  box-sizing: border-box;
}

.no-overflow {
  overflow: hidden;
}

.hidden-overflow {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.swiper-custom-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
  position: absolute;
  width: 90px;
  height: 30px;
  bottom: -25px;
  left: 94px;
  text-align: center;
  background-color: var(--white);
  border-radius: 20px;
  padding: 5px;
  z-index: 2;
  overflow: visible;
}

.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  margin: 3px;
  opacity: 1;
}
